<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>inquiry details</h1>
  <div>
    <div>
      email: <%=@email%>
    </div>  
    <div>
      deteil:
      <p>
        <%=@message%>
      </p>
    </div>    
  </div>

  <div>
    <a href="/">Go to Top page</a>
  </div>
</body>
</html>
