<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    Hello, It's my first HTML!!
    <p>
    <a href="about">about this application</a>
    </p>

    <h1>Contact Us</h1>
    <form action="confirm" method="POST">
      <div>
        email:<input type="text" name="email" value="">
      </div>

      <div>
        detail:<textarea  name="message" rows="5"></textarea>
      </div>
      
      <div>
        <input type="submit" value="send">
      </div>
    </form>
  </body>
</html>
